/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
} */

.grid {
  margin: 0.5rem;
  max-width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 1rem;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
}
