<article>
  <section>
    <div class="bg-overlay">
      <div class="info-compagny">
        <p class="toto">Bienvenue chez shareCTECH <br /></p>
        <p>
          <span>Vetements</span> d'occasions <span>techniques</span> pour
          l'exploration
        </p>

        <br />
        <p><span>Partage</span> nous tes reves !</p>
      </div>
      <video
        src="/assets/fleuve.mp4"
        autoplay
        [muted]="mute"
        loop
        type="video/mp4"
      ></video>
    </div>
  </section>

  <section>
    <app-list-cat></app-list-cat>
  </section>

  <div class="container">
    <section class="d-flex philosophie flex-justify-content-around">
      <div class="text-philo">
        <div>
          <h2>
            Notre philosophie <br />
            <br />
          </h2>
          <p>
            Aujourd'hui nos matières techniques nous donne accès à des lieux
            extrêmes !
          </p>
          <p>
            Pour proteger notre nature, et avoir un impact carbonne plus faible
            il est important à nos yeux de recycler nos achats par de la seconde
            main.
          </p>
          <p>
            Nous vous proposons de partager vos expériences, vos aventures, vos
            rêves, vos passions et le vécu de vos équipements mis en vente. Ils
            meriteront d'être partagés !
          </p>

          <button>Je souhaite vendre ?</button>
        </div>
      </div>
      <div>
        <img src="/assets/nature.jpeg" alt="" />
      </div>
    </section>
  </div>
</article>
