/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #26495c;
  --secondary: #c4a35a;
  --third: #c66b3d;
  --accent: #26495c;
  --lightgray: #e5e5dc;
  --text-regular: #e5e5dc;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
  background-color: var(--third);
  overflow-x: hidden;
}

header {
  background-color: var(--primary);
}

footer {
  background-color: var(--secondary);
}

.colorbg-1 {
  background-color: var(--primary);
}

.colorbg-2 {
  background-color: var(--secondary);
}

.colorbg-3 {
  background-color: var(--third);
}

.color-lg {
  color: var(--lightgray);
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-justify-content-around {
  justify-content: space-around;
}

.flex-justify-content-evenly {
  justify-content: space-evenly;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-items: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

// utils

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.mrem-1 {
  margin: 1rem;
}

.mrem-2 {
  margin: 2rem;
}
.mrem-3 {
  margin: 3rem;
}

.ptb-1 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

footer {
  align-items: center;
}
//debug

.d1 {
  border: 1px solid red;
}

.d2 {
  border: 1px solid green;
}

.dbg-red {
  background-color: red;
}

.dbg-blue {
  background-color: blue;
}
