<ng-container
  *ngIf="
    checkIfUserHasAdress.answer == 'yes';
    then ShowUserWithAdress;
    else userWithoutAdress
  "
>
</ng-container>

<ng-template #ShowUserWithAdress>
  <section class="colorbg-3">
    <article>
      <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="userWithAdress.User.username"
            #username="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            [(ngModel)]="userWithAdress.User.email"
            #email="ngModel"
          />
        </div>

        <div class="form-group">
          <label for="username">Role</label>
          <input
            type="text"
            id="fk_role"
            name="fk_role"
            [(ngModel)]="userWithAdress.User.fk_role"
            #fk_role="ngModel"
          />
        </div>

        <div class="d-flex flex-column">
          <label for="username">Adresse</label>
          <input
            type="text"
            id="address"
            name="address"
            [(ngModel)]="userWithAdress.adresse_of_user"
            #address="ngModel"
          />

          <label for="username">cp</label>
          <input
            type="text"
            id="cp"
            name="cp"
            [(ngModel)]="userWithAdress.cp"
            #cp="ngModel"
          />
          <label for="username">Ville</label>
          <input
            type="text"
            id="ville"
            name="ville"
            [(ngModel)]="userWithAdress.ville"
            #ville="ngModel"
          />

          <label for="username">Pays</label>
          <input
            type="text"
            id="pays"
            name="pays"
            [(ngModel)]="userWithAdress.pays"
            #pays="ngModel"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="colorbg-1 color-lg">Modifier</button>
        </div>
      </form>
    </article>
  </section>
</ng-template>
<ng-template #userWithoutAdress>
  <section class="colorbg-3">
    <article>
      <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="user.username"
            #username="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            [(ngModel)]="user.email"
            #email="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="fk_role">Role</label>
          <input
            type="text"
            id="fk_role"
            name="fk_role"
            [(ngModel)]="user.fk_role"
            #fk_role="ngModel"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="colorbg-1 color-lg">Modifier</button>
        </div>
      </form>
    </article>
  </section>
</ng-template>
