h2 {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;

  th,
  td {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  th {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #26495c;
  }

  td {
    text-align: left;
  }

  td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      color: blue;
    }
  }
}

section {
  height: 60vh;
  width: 80vw;
  overflow-y: scroll;
  overflow-x: visible;
}

tr > * {
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
}
